*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: inter;
    background-color: #F7F7F7;
}

*::selection{
    background-color: #000;
    color: #fff;
}


.nav{
    width: 100%;
    position: fixed;
   overflow: hidden;
    padding: 25px;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.nav .nav-part1{
    height: 80px;
    color: #000;
    overflow: hidden;
}


.nav-part1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav .nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.link{
    padding: 10px;
}

.link a{
color: #333;
text-decoration: none;
font-size: 14px;
font-weight: 500;
margin: 0 20px;
}

.nav-part2 .icon{
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
    color: #333;
}

.icon i {
    size: 18px;
    margin: 0 20px;
    font-weight: 100;
   
}

.cursor{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: fixed;
    background-color: plum;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    scale: 0;
    opacity: 0;
}

#page1{
    width: 100%;
    min-height: 120;
    padding: 0 2vw;
padding-top: 20vh;
position: relative;
background-image: url(./imgp/pexels-photo-62693.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#page1 h1{
    font-size: 15.8vw;
color: black;   
text-transform: uppercase;
line-height: 26vh; 
letter-spacing: -.8vw;                          
}

#page1 .video{
    width: 100%;
    height: 100vh;
    margin-top: 1vh;
    position: relative;
}

.video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play{
padding: 2.5vw 1.8vw;
background-color: #000;
color: #fff;
font-size: 1.3vw;
position: absolute;
font-family: futura;
border-radius: 50%;
opacity: 0;
scale: 0;
z-index: 1;
}

/* page2 */

.page2{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 3vw 1vw;
}

.page2 .elem{
    width: 31%;
    height: 100%;
    padding: 3vw 1vw;
overflow: hidden;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    scale: 1.1;
}
.elem .dets{
    width: 70%;
    height: 55px;
    border-radius: 50px;
    background-color: #C3D8C5;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
transition: all ease .3s;
}

.hover-img1{
    width: 90px;
    height: 120px;
    opacity: 0;
    scale: 1;
    position: absolute;
    bottom: -100%;
}

.hover-img2{
    width: 90px;
    height: 120px;
    opacity: 0;
    position: absolute;
    bottom: -100%;
}

.link-div{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 15px;
}

.hover-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.elem .dets:hover .hover-img1{
    opacity: 1;
    bottom: 10%;
    right: 10%;
}
.elem .dets:hover .hover-img2{
    opacity: 1;
    bottom: 10%;
    left: 10%;
}

.elem .dets:hover{
    height: 200px;
    border-radius: 10px;
opacity: 1;
  

}

.dets a{
    font-size: 18px;
    color: #0e0d0d;
    text-decoration: none;
    
}

.page3{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
}

.page3 .part-1{
    height: 100%;
}

.part-1 h1{
    font-size: 4vw;
    line-height: 4vw;
    font-weight: 900;
    font-family: futura;
    padding: 1vw;
}

.page3 .part-2{
    height: 100%;
    padding-right: 4vw;
}

.part-2 h5{
    font-size: 1.2vw;
    margin: 1vw;
    font-weight: 400;
    font-family: Helvetica;
    margin-bottom: 2vw;
}

.part-2 a{
    color: #000;
    margin: 1vw;
}

.page4{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}


.child{
    height: 50vh;
    width: 38vw;
    display: flex;
    align-items: center;
    justify-content: center;
}




#child1 h1{
    font-size: 4.5vw;
    font-weight: 900;
}

.child img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.child p{
    padding: 0.4vw;
    margin-left: 1vw;
}
.child h2{
    padding: .1vw 1vw;
}
.footer{
    width: 100%;
    height: 90vh;
    /* border-radius: 4vw; */
    background-color: #56534d;
    background-image:url(./imgp/s.jpg) ;
    background-position: center;
     background-repeat: no-repeat;
    background-size: cover;
    

}
.footerpart1{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    gap: 2.4vw;
}

.footerpart1 h4{
    font-size: .9vw;
    padding-top: 13vw;
}
.footerpart1 h1{
    font-size: 5vw;
    
}
.button button{
    padding: 1vw ;
    border-radius: 1vw;
    font-size: 1.2vw;
    background-color: #C3D8C5;
    color: #000;

}
.button .Explore{
    background-color: #333;
    color: #C3D8C5;
}
.button button:hover{
    scale: 1.1;
    font-size: 1.4;
}
.footerpart1 p{
    font-size: 1vw;
    padding-top: 2vw;
    color: #A39B8B;
}
.footer2{
    width: 100%;
    height: 85vh;
    background-color: #56534d;
    color: #C3D8C5;
    padding: 3vw 2vw;
    
}
.footer2part1{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.footer2part1 .subcribe{
    padding-right:10vw ;
}
.footer2part1 .subcribe h3{
    font-size: 1.2vw;
    letter-spacing: 0.5px;

}
.footer2part1 .subcribe p{
    font-size: .7vw;
    font-weight: 700;
    padding: 1vw;
}
.footer2part1{
    padding-bottom:12vw ;
}
.footer2part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
}
.footer2part2 p{
    font-size: .8vw;
    font-weight: 700;
    /* padding: 1vw; */
}
.term , .link6{
    display: flex;
    align-items: center;
    gap: .4vw;
}

@media (max-width:600px) {

    .nav{
        width: 100%;
        padding: 15px;
    }
    
    .nav .nav-part1{
        height: 67px;
    }
    
    .nav-part1 svg{
        display: block;
        width: 80px;
        height: 67px;
    }

    #twogoodlogo{
        height: 40px;
        margin-left: 20px;
    }
    
    .nav .nav-part2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    
    .link{
        padding: 5px;
    }
    
    .link a{
    color: #333;
    text-decoration: none;
    
    font-size: 2vw;
    font-weight: 500;
    margin: 0 10px;
    }
    
    .nav-part2 .icon{
        padding: 7px;
    }
    
    .icon i {
        size: 15px;
        margin: 0;
    }
    

    #page1{
        min-height: 70vh;
        padding: 0 4vw;
    padding-top: 20vh;
    }

    #page1 h1{
        font-size: 14vw;
    line-height: 13vh; 
    letter-spacing: -.2vw;                          
    }

    #page1 .video{
        height: 40vh;
        margin-top: 4vw;
    }

    .play{
        padding: 9vw 7.2vw;
        font-size: 4.4vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%) ;
        }

        .page2{
            width: 100%;
            min-height: 100vh;
               padding: 5vw 3vw;
               display: flex;
               align-items: center;
               justify-content: space-between;
               flex-direction: column;
        }


        .page2 .elem{
            width: 100%;
            min-height: 70vh;
            margin-bottom: 3vw;
            overflow: hidden;
        }

        .elem img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center ;
            scale: 1.1;
        }


        .elem .dets{
            width: 60%;
            height: 40px;
            position: absolute;
        }

        .link-div{
            top: 8px;
        }
        
        .elem .dets:hover{
            height: 200px;
            border-radius: 10px;
        }

        
.page3{
    width: 100%;
    min-height: 100vh;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 5vw;
}
.page3 .part-1{
    height: 30vh;
    padding: 2vw;
}

.part-1 h1{
    font-size: 7.7vw;
    line-height: 8vw;
    font-weight: 900;
    font-family: futura;
}

.page3 .part-2{
    text-align: center;
    height: 60vh;
    text-align: center;
}

.part-2 h5{
    font-size: 4vw;
    margin: 4vw;
   letter-spacing: .5px;
    margin-bottom: 5vw;
}

.part-2 a{
    color: #000;
    margin: 1vw;
}
        
        .page4{
            width: 100%;
            height: 300vh;
            /* display: flex; */
            /* align-items: center; */
            /* justify-content: space-evenly; */
            /* flex-wrap: wrap; */
        }
        
        
        .child{
            height: 50vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
        .chil h1{
            padding: 0.5vw;
        }
        
        .child img{
            height: 100%;
        }
        .footer{
            width: 100%;
            height: 55vh;
            /* border-radius: 4vw; */
            background-color: #0f0f0e;
            background-image:url(./s.jpg) ;
            background-position: center;
             background-repeat: no-repeat;
            background-size: cover;
            
        
        }
        .footerpart1{
            display: flex;
            align-items: center;
            flex-direction: column;
            /* justify-content: center; */
            gap: 2.4vw;
        }
        
        .footerpart1 h4{
            font-size: 1.5vw;
            padding-top: 13vw;
        }
        .footerpart1 h1{
            font-size: 5vw;
            
        }
        .button button{
            padding: 1vw ;
            border-radius: 1vw;
            font-size: 1.2vw;
            background-color: #C3D8C5;
            color: #000;
        
        }
        .button .Explore{
            background-color: #333;
            color: #C3D8C5;
        }
        .button button:hover{
            scale: 1.1;
            font-size: 1.4;
        }
        .footerpart1 p{
            font-size: 1.3vw;
            padding-top: 2vw;
            color: #A39B8B;
        }
        .footer2{
            width: 100%;
            height: 70vh;
            background-color: #0c0c0c;
            color: #C3D8C5;
            padding: 3vw 2vw;
            
        }
        .footer2part1{
            display: flex;
            align-items: center;
            justify-content: center;
            /* flex-direction: column; */
            gap: 5vw;
            /* text-align: center; */
        }
        .footer2part1 .subcribe{
            padding-right:10vw ;
        }
        .footer2part1 .subcribe h3{
            font-size: 1.5vw;
            letter-spacing: 0.5px;
        
        }
        .footer2part1 .subcribe p{
            font-size: .7vw;
            font-weight: 700;
            padding: 1.2vw;
        }
        .footer2part1{
            padding-bottom:12vw ;
        }
        .footer2part2{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding: 3vw;
            width: 100%;
            height: 15vh;
        }
        .footer2part2 p{
            font-size: 1.5vw;
            font-weight: 700;
            /* padding: 1vw; */
        }
        .term , .link6{
            display: flex;
            align-items: center;
            gap: .4vw;
        }
        
}
